.footer {
  background-color: getColor(background-dark);
  & .container {
    // display: flex;
    // align-items: baseline;
    padding: 60px 15px;
    // justify-content: space-between;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__address {
    color: white;
    @include font-options(14px, calc(24 / 14), 0.03em);
    font-style: normal;
    margin-bottom: 12px;
  }
  &__logo {
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
    }
  }
}
.footer-social {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}
.footer-social__title {
  @extend %heading;
  @extend %h3;
  color: white;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.contacts--footer {
  display: block;
}
.contacts--footer li:not(:last-child) {
  margin-bottom: 12px;
}
.footer-tablet {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    justify-content: space-around;
  }
}
