.footer {
    background-color: getColor(background-dark);
    & .container {
        display: flex;
        align-items: baseline;
        padding: 60px 15px;
        justify-content: space-between;
    }
    &__address {
        color:white;
        @include font-options(14px,calc(24/14),0.03em);
        font-style: normal;
    }
}
.footer-social__title {
    @extend %heading;
    @extend %h3;
    color: white;
    margin-bottom: 20px;
}