.main-header {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  & .container {
    @media screen and (min-width: $desktop) {
      align-items: center;
      padding-top: 24px;
      padding-bottom: 25px;
      display: flex;
    }
  }
}
.icon-small {
  @media screen and (min-width: $desktop) {
    position: relative;
    margin-right: 7px;
  }
  max-width: 16px;
  max-height: 16px;

  vertical-align: text-top;
  fill: currentColor;
}
