.button {
  @include font-options(16px, 1.88em, 0.06em);
  border-radius: 4px;
  background-color: getColor(accent);
  font-weight: 700;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  transition: getTransition(background), getTransition(shadow);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: #188ce8;
  }
  &--footer {
    width: 200px;
    padding: 10px 28px;
    display: inline-flex;
    justify-content: center;
  }
}
