.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.js-open-menu,
.js-close-menu {
  fill: getColor(theme-black);
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: getColor(accent);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: white;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 306px;
  &__item {
    @extend %list-item;
  }
  &__link {
    @extend %link;
    font-weight: 500;
    @include font-options(40px, calc(47 / 40), 0.02em);
    color: getColor(theme-black);
  }
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__item--active .mobile-menu__link {
    color: getColor(accent);
  }
  &__item:hover .mobile-menu__link {
    color: getColor(accent);
  }
  &__item:focus .mobile-menu__link {
    color: getColor(accent);
  }
  &-contacts {
    @extend %list;
    padding-bottom: 64px;
  }
  &-contacts__item {
    @extend %list-item;
  }
  &-contacts__link {
    @extend %link;
    color: getColor(theme-grey);
    font-weight: 500;
    @include font-options(24px, calc(28 / 24), 0.02em);
  }
  &-contacts__link[href*="tel"] {
    color: getColor(accent);
    @include font-options(34px, calc(40 / 34), 0.02em);
  }
  &-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mobile-menu-social {
  @extend %list;
  display: flex;
  &__item {
    @extend %list-item;
    padding: 0 10px;
  }
  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__item:first-child {
    padding-left: 0px;
  }
  &__item:last-child {
    padding-right: 0px;
  }
  &__link {
    @extend %link;
    color: getColor(accent);
    font-weight: 500;
    @include font-options(18px, calc(22 / 18), 0.02em);
  }
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 719px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding: 17px 15px;
  }
}
.icon-menu,
.icon-close {
  fill: currentColor;
}
