.menu {
  // display: flex;
  @extend %list;
  @media screen and (max-width: 719px) {
    display: none;
  }
  &__item {
    @extend %list-item;
    // position: relative;
    // margin-right: 50px;
  }
  &__item a {
    // display: block;
    // padding-top: 8px;
    // padding-bottom: 8px;
    @include font-options(14px, 1em, 0.02em);
    font-weight: 500;
    color: getColor(theme-black);
    transition: getTransition(color);
    @extend %link;
  }
  &__item a:hover,
  &__item a:focus,
  &__item--active {
    color: getColor(accent);
  }
  &__item a::after {
    content: "";
    // position: absolute;
    // left:0;
    // bottom:-27px;
    // transform: scaleX(0);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: getTransition(transform);
  }
  &__item a:hover::after,
  &__item a:focus::after,
  &__item--active a::after {
    content: "";
    // position: absolute;
    // left:0;
    // bottom:-27px;
    // background-color: getColor(accent);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transform: scaleX(1);
  }
  &__item:last-child {
    // margin-right: 0;
  }
}
