.team {
  background-color: getColor(background-light);
  // padding-top: 94px;
  @media screen and (max-width: 1199px) {
    padding: 60px 0;
  }
  &__title {
    @extend %heading;
    @extend %h2;
    @media screen and(max-width:1199px) {
      @include font-options(28px, calc(33 / 28), 0.03em);
      margin-bottom: 30px;
    }
  }
}
.members {
  display: flex;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
  gap: 30px;
  justify-content: center;
  @extend %list;
}
.tmember-card {
  max-width: 450px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @extend %list-item;
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  &__info {
    text-align: center;
    margin-top: 30px;
  }
  &__name {
    margin-bottom: 10px;
    @extend %paragraph;
    @include font-options(16px, 1.19em, 0.03em);
    font-weight: 500;
    color: getColor(theme-black);
  }
  &__position {
    margin-bottom: 16px;
    @extend %paragraph;
    @include font-options(16px, 1.19em, 0.03em);
    color: getColor(theme-grey);
  }
}
