.regular-clients {
  // padding-top: 94px;
  @media screen and (max-width: 1199px) {
    padding: 60px 0px;
  }
  &__title {
    @extend %heading;
    @extend %h2;
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
      @include font-options(28px, calc(33 / 28), 0.03em);
    }
  }
}
.client-block {
  // display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @extend %list;
  &__list-item {
    @extend %list-item;
    @media screen and (max-width: 767px) {
      flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
  &__icon {
    @extend %link;
    padding: 23px 42px;
    border: 1px solid getColor(icon-grey-color);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: getTransition(color), getTransition(border), getTransition(fill);
    color: getColor(icon-grey-color);
  }
  &__icon:hover,
  &__icon:focus {
    border-color: getColor(accent);
    fill: getColor(accent);
    color: getColor(accent);
  }
  &__svg {
    height: 52px;
    width: 94px;
    fill: currentColor;
  }
}
